.hero
  &__container
    display: flex
    justify-content: space-between
  &__title
    font-weight: 500
    font-size: 48px
    max-width: 410px
    margin-bottom: 50px
  &__text
    font-weight: 300
    font-size: 30px
    line-height: 36px
    max-width: 630px
    margin-bottom: 50px
  &__button
    padding: 18px 35px
    border: 1px solid $color
    transition-duration: 0.2s
    &:hover
      background-color: $color
      color: $color-light
      border: 1px solid transparent
  &__photo
    border-radius: 50%
    overflow: hidden
  &__arrow
    position: absolute
    left: 50%
    bottom: -10%
    transform: translate(-50%, 0)
    width: 60px
    height: 30px
    cursor: pointer
    margin: 30px
    span
      display: block
      width: 30px
      height: 30px
      border-bottom: 5px solid $color
      border-right: 5px solid $color
      transform: rotate(45deg)
      margin: -16px
      animation: arrows 2s infinite
      &:nth-child(2)
        animation-delay: -.2s
      &:nth-child(3)
        animation-delay: -.4s

.socials 
  display: flex
  gap: 20px
  margin-bottom: 50px